@import '../price/index';
@import '../inputnumber/index';
@import '../popup/index';

.mot-theme-dark {
  .mot-sku {
    background: $dark-background;
  }
}

.mot-sku {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  background: $white;

  &-content {
    flex: 1;
    margin-top: 24px;
    overflow: hidden auto;

    &-wrapper {
      box-sizing: border-box;
      width: 100%;
      padding: 0 18px;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
