@import '../button/index';
/* stylelint-disable selector-class-pattern */

.mot-signature {
  .mot-signature-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8rem;
    margin-bottom: 1rem;
    border: 1px solid #dadada;
  }

  .spcanvas_WEAPP {
    width: 100%;
    height: 100%;

    .spcanvas {
      width: 100%;
    }
  }

  .mot-signature-btn {
    margin-right: 15px;
  }
}
