@font-face {
  font-family: motui-iconfont; /* Project id 2166874 */
  src: url('iconfont.woff2?t=1668762221765') format('woff2'),
       url('iconfont.woff?t=1668762221765') format('woff'),
       url('iconfont.ttf?t=1668762221765') format('truetype');
}

.motui-iconfont {
  font-family: motui-iconfont !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mot-icon-mask-close::before {
  content: "\e6cd";
}

.mot-icon-rect-left::before {
  content: "\e6c9";
}

.mot-icon-rect-up::before {
  content: "\e6ca";
}

.mot-icon-rect-right::before {
  content: "\e6cb";
}

.mot-icon-rect-down::before {
  content: "\e6cc";
}

.mot-icon-triangle-down::before {
  content: "\eb6d";
}

.mot-icon-triangle-up::before {
  content: "\eb6e";
}

.mot-icon-image-error::before {
  content: "\e60a";
}

.mot-icon-image::before {
  content: "\e609";
}

.mot-icon-voice::before {
  content: "\e608";
}

.mot-icon-play-stop::before {
  content: "\e604";
}

.mot-icon-play-start::before {
  content: "\e605";
}

.mot-icon-play-double-back::before {
  content: "\e606";
}

.mot-icon-play-double-forward::before {
  content: "\e607";
}

.mot-icon-dou-arrow-up::before {
  content: "\e603";
}

.mot-icon-loading1::before {
  content: "\e614";
}

.mot-icon-checked::before {
  content: "\e601";
}

.mot-icon-checklist::before {
  content: "\e6c8";
}

.mot-icon-check-disabled::before {
  content: "\e6c7";
}

.mot-icon-check-normal::before {
  content: "\e6c5";
}

.mot-icon-check-checked::before {
  content: "\e6c6";
}

.mot-icon-loading::before {
  content: "\e6c4";
}

.mot-icon-heart-n::before {
  content: "\e6c0";
}

.mot-icon-star-fill-n::before {
  content: "\e6c1";
}

.mot-icon-heart-fill-n::before {
  content: "\e6c2";
}

.mot-icon-star-n::before {
  content: "\e6c3";
}

.mot-icon-heart::before {
  content: "\e69d";
}

.mot-icon-heart1::before {
  content: "\e69e";
}

.mot-icon-heart-fill::before {
  content: "\e69f";
}

.mot-icon-heart-fill2::before {
  content: "\e6bf";
}

.mot-icon-heart-fill1::before {
  content: "\e6be";
}

.mot-icon-star-fill2::before {
  content: "\e6ae";
}

.mot-icon-star11::before {
  content: "\e6ad";
}

.mot-icon-star1::before {
  content: "\e6a0";
}

.mot-icon-star-fill::before {
  content: "\e6a1";
}

.mot-icon-share-n::before {
  content: "\e6bd";
}

.mot-icon-horizontal-n::before {
  content: "\e6bc";
}

.mot-icon-more-x::before {
  content: "\e6bb";
}

.mot-icon-more-s::before {
  content: "\e6ba";
}

.mot-icon-star-fill1::before {
  content: "\e6b8";
}

.mot-icon-star2::before {
  content: "\e6b9";
}

.mot-icon-heart2::before {
  content: "\e6b6";
}

.mot-icon-heart-fill3::before {
  content: "\e6b7";
}

.mot-icon-retweet::before {
  content: "\e6b5";
}

.mot-icon-poweroff-circle-fill::before {
  content: "\e6b3";
}

.mot-icon-play-circle-fill::before {
  content: "\e6b4";
}

.mot-icon-down-arrow::before {
  content: "\e6b2";
}

.mot-icon-success::before {
  content: "\e6af";
}

.mot-icon-failure::before {
  content: "\e6b0";
}

.mot-icon-issue::before {
  content: "\e6b1";
}

.mot-icon-Check::before {
  content: "\e6ac";
}

.mot-icon-plus::before {
  content: "\e600";
}

.mot-icon-minus::before {
  content: "\e6ab";
}

.mot-icon-arrow-up2::before {
  content: "\e6a6";
}

.mot-icon-arrow-down2::before {
  content: "\e6a7";
}

.mot-icon-screen-little::before {
  content: "\e6a8";
}

.mot-icon-arrow-right2::before {
  content: "\e6a9";
}

.mot-icon-close-little::before {
  content: "\e6aa";
}

.mot-icon-joy-smile::before {
  content: "\e6a5";
}

.mot-icon-arrow-down::before {
  content: "\e6a2";
}

.mot-icon-arrow-right::before {
  content: "\e6a3";
}

.mot-icon-arrow-up::before {
  content: "\e6a4";
}

.mot-icon-github::before {
  content: "\e69c";
}

.mot-icon-uploader::before {
  content: "\e69b";
}

.mot-icon-circle-close::before {
  content: "\e699";
}

.mot-icon-right::before {
  content: "\e698";
}

.mot-icon-jdl::before {
  content: "\e696";
}

.mot-icon-order::before {
  content: "\e697";
}

.mot-icon-refresh::before {
  content: "\e690";
}

.mot-icon-add::before {
  content: "\e691";
}

.mot-icon-JD::before {
  content: "\e692";
}

.mot-icon-eye::before {
  content: "\e693";
}

.mot-icon-dshop::before {
  content: "\e694";
}

.mot-icon-my2::before {
  content: "\e695";
}

.mot-icon-star::before {
  content: "\e68e";
}

.mot-icon-del2::before {
  content: "\e68f";
}

.mot-icon-comment::before {
  content: "\e68a";
}

.mot-icon-microphone::before {
  content: "\e68b";
}

.mot-icon-people::before {
  content: "\e68c";
}

.mot-icon-service::before {
  content: "\e68d";
}

.mot-icon-cart2::before {
  content: "\e689";
}

.mot-icon-location2::before {
  content: "\e684";
}

.mot-icon-marshalling::before {
  content: "\e685";
}

.mot-icon-fabulous::before {
  content: "\e686";
}

.mot-icon-s-follow::before {
  content: "\e687";
}

.mot-icon-shop::before {
  content: "\e688";
}

.mot-icon-message::before {
  content: "\e683";
}

.mot-icon-ask2::before {
  content: "\e67e";
}

.mot-icon-search2::before {
  content: "\e67f";
}

.mot-icon-clock::before {
  content: "\e680";
}

.mot-icon-setting::before {
  content: "\e681";
}

.mot-icon-refresh2::before {
  content: "\e682";
}

.mot-icon-horizontal::before {
  content: "\e679";
}

.mot-icon-date::before {
  content: "\e67a";
}

.mot-icon-photograph::before {
  content: "\e67b";
}

.mot-icon-link::before {
  content: "\e67c";
}

.mot-icon-scan2::before {
  content: "\e67d";
}

.mot-icon-left::before {
  content: "\e673";
}

.mot-icon-close::before {
  content: "\e674";
}

.mot-icon-locationg3::before {
  content: "\e675";
}

.mot-icon-share1::before {
  content: "\e676";
}

.mot-icon-shop3::before {
  content: "\e677";
}

.mot-icon-more::before {
  content: "\e678";
}

.mot-icon-ask::before {
  content: "\e670";
}

.mot-icon-tips::before {
  content: "\e671";
}

.mot-icon-notice::before {
  content: "\e672";
}

.mot-icon-lower::before {
  content: "\e668";
}

.mot-icon-top::before {
  content: "\e669";
}

.mot-icon-download::before {
  content: "\e66a";
}

.mot-icon-dongdong::before {
  content: "\e66b";
}

.mot-icon-JIMI40::before {
  content: "\e66c";
}

.mot-icon-location::before {
  content: "\e66d";
}

.mot-icon-scan::before {
  content: "\e66e";
}

.mot-icon-addfollow::before {
  content: "\e66f";
}

.mot-icon-search::before {
  content: "\e663";
}

.mot-icon-share::before {
  content: "\e664";
}

.mot-icon-follow::before {
  content: "\e665";
}

.mot-icon-del::before {
  content: "\e666";
}

.mot-icon-edit::before {
  content: "\e667";
}

.mot-icon-cart::before {
  content: "\e65f";
}

.mot-icon-home::before {
  content: "\e660";
}

.mot-icon-find::before {
  content: "\e661";
}

.mot-icon-category::before {
  content: "\e662";
}

.mot-icon-my::before {
  content: "\e65e";
}

.mot-icon-footprint::before {
  content: "\e65d";
}

